*{
    padding: 0;
    margin: 0;
}
#grilla{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "header header  header  header"
    "carrus carrus  carrus  conten1"
    "carrus carrus  carrus  conten1"
    "footer footer  footer  footer";
}
#grilla .header{
    grid-column-start: header;
    grid-column-end: header;
}
#grilla #carouselExampleControls{
    grid-column: carrus;
    grid-row: carrus;
}
#grilla .conten1{
    grid-column-start: conten1;
    grid-column-end: conten1;
}
#grilla #footer{
    grid-row: footer;
    grid-column: footer;
}
.pbajologo{
    text-align: center;
}
.lilogo{
    border-style: solid;
    background-color: #391E46;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    transform: scale(1.2);
}




/*index*/
.contenedor1{
    background-color: none;
}
.header{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4D2FBD;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 65px;

}
@media screen and (max-width: 767px){
    #grilla{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "header     header"
        "carrus     carrus"
        "conten1    conten1"
        "footer     footer";
    }
    #grilla .header{
        grid-column: header;
        grid-row: header;
    }
    #grilla #carouselExampleControls{
        grid-column: carrus;
        grid-row: carrus;
    }
    #grilla .conten1{
        grid-column-start: conten1;
        grid-column-end: conten1;
    }
    #grilla #footer{
        grid-row: footer;
        grid-column: footer;
    }
    .conten1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #footer{
        display: flex;
        justify-content: center;
    }
    .ul_footer{
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width: 480px){
    #grilla{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "header"
        "carrus"
        "conten1"
        "footer";
    }
    #grilla .header{
        grid-column: header;
        grid-row: header;
    }
    #grilla #carouselExampleControls{
        grid-column: carrus;
        grid-row: carrus;
    }
    #grilla .conten1{
        grid-column: conten1;
        grid-row: conten1;
    }
    #grilla #footer{
        grid-row: footer;
        grid-column: footer;
    }
    .conten1{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .zoeletras{
        margin-right: 50px;
        max-width: 100%;
        width:  auto;
        height:  auto;
    }
    .header{
    width: auto;
    height: auto;
    }
    .nav{
        display: flex;
        justify-content: center;
    }
    .ul_header{
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .li{
        width: 300px;
    }
    .contenedor1{
        display: flex;
        justify-content: center;
    }
    #footer{
        display: flex;
        justify-content: center;
    }
    .ul_footer{
        display: flex;
        justify-content: space-between;
    }
}

.contenedor1 .logoinicio{
    height: 63px;
    width: 63px;
    transition: all 1;
}
.logoinicio:hover{
    transform: scale(1.05);
}

ul{
    margin: 0;
    padding: 0 20px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.li:hover{
    transform: scale(1.05);
}
.li{
    border-style: solid;
    background-color: #391E46;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    transform: scale(1.2);
}
a{
    color: white;
    text-decoration: none;
}
h1{
    text-align: center;
    color: blueviolet;
}



.zoeletras{
    max-width: 100%;
    width: 400px;
    height: 100px;
}
.pbajologo{
    text-align: center;
    width: 100%;
    height: 100%;
}
.imagenmedio{
    max-width: 100%;
    max-height: 100%;
    width: 2500px;
    height: 500px;
}
p{
    color: white;
}



img{
    max-width: 100%;
}
header{
    background-color: #4D2FBD;
}
body{
    background-color: #160C1B;
    background-color: #4D2FBD;
    background-color: #391E46;
}
footer{
    background-color: #160C1B;
}
.li_footer{
    display: flex;
    height: 60px;
    width: 60px;
}
.p_footer1{
    margin: 10px;
    text-align: center;
}