*{
    margin:0;
    padding: 0;
}

/*Todas las páginas*/
body{
    background-color: #160C1B;
}
img{
    max-width: 100%;
}
footer{
    background-image: url(../img/zoe_cat.jpg);
    background-position: center;
    background-size: 100vh;
    text-align: center;
	padding: 10px 0 90px ;
}

/*index*/
.contenedor1{
    background-color: none;
}
.header{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4D2FBD;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 65px;

}
@media screen and (max-width: 767px){
    ul{
        display: flex;
        flex-direction: column;
        width: 600px;
        max-width: 600px;
        min-width: 300px;

    }
    .header{
        height: 280px;
        
    }
}
.header .contenedor1 .logoinicio{
    height: 63px;
    width: 63px;
    transition: all 1;
}
.header .contenedor1 .logoinicio:hover{
    transform: scale(1.5);
}
nav{
    padding: 10px;
    background-color: none;
}
ul{
    margin: 0;
    padding: 0 20px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.li{
    border-style: solid;
}
li:hover{
    font-size: 17px;
}
li{
    background-color: #391E46;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    transform: scale(1.2);
}
a{
    color: white;
    text-decoration: none;
}
h1{
    text-align: center;
    color: blueviolet;
}
.divpadre{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
;
}
.divhijo1{
    width: auto;
    height: auto;
    margin: 5px;
}
.divhijo2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.zoeletras{
    max-width: 100%;
    width: 400px;
    height: 100px;
}
.pbajologo{
    text-align: center;
    width: 50%;
    height: 50%;
}
.imagenmedio{
    max-width: 100%;
    max-height: 100%;
    width: 2500px;
    height: 500px;
}
p{
    color: white;
}

/*Pagina de contacto*/
form{
    color: white;
    text-align: center;
}
.formulario{
    margin: 0.5%;
}

/*Pagina de tour*/
table{
    background-color: #391E46;
}
.tourform{
    display: flex;
    justify-content: center;
    margin: auto;
    
}

/*Pagina galeria*/
.vertical{
    max-width: 100%;
    width: 320px;
    height: 480px;
}
.galeria{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:space-evenly
}

/*Pagina video*/
.videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Pagina discografía*/
.contenedordiscografia{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}